body {
  color: #40514E;
  margin: 0;
  text-align: center;
  font-family: 'Alegreya Sans', sans-serif;
}

.top-container {
  background-color: #EAF6F6;
  position: relative;
  padding-top: 100px;
}

.cloud1 {
  position: absolute;
  right: 300px;
  top: 50px;
}

.cloud2 {
  position: absolute;
  left: 300px;
  bottom: 300px;
}

h1 {
  color: #66BFBF;
  margin: 50px auto 0 auto;
  font-family: 'Dancing Script', cursive;
  font-size: 5.625rem;
}

h2 {
  color: #66BFBF;
  font-family: 'Noto Sans HK', sans-serif;
  font-size: 2.5rem;
  padding-bottom: 10px;
}

h3 {
  color: #11999E;
  font-family: 'Noto Sans HK', sans-serif;
}

hr {
  border-style: none;
  border-top-style: dotted;
  width: 4%;
  border-color: #d8e0de;
  border-width: 6px;
  margin: 75px auto;
}

body {
  margin: 0;
}

p {
  line-height: 2;
}

a {
  text-decoration: none;
}
a:hover{
  color: #EAF6F6
}
.footer-link {
  color: #11999E;
}

.subtitle {
  font-weight: normal;
}

.skill-row {
  margin: 100px auto 100px auto;
  width: 50%;
  text-align: left;
}

.code_gif {
  float: left;
  margin-right: 30px;
  width: 25%;
}

.rnc {
  float: right;
  margin-left: 30px;
  width: 25%;
}
.middle-container{
  margin: 100px 0;
}
.bottom-container {
  background-color: #66BFBF;
  padding: 35px 0 35px 0;
}

.copyright {
  color: #EAF6F6
}

.BUTTON_VTL {
  -webkit-border-radius: 17px;
  -moz-border-radius: 17px;
  border-radius: 17px;
  height: 15px;
  line-height: 15px;
  color: #FFFFFF;
  font-family: Arial;
  width: 120px;
  font-size: 17px;
  font-weight: 100;
  padding: 15px;
  background-color: #11999E;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  text-align: center;
  margin: 30px 0 75px 0
}

.BUTTON_VTL:hover {
  background: #66BFBF;
  border: solid #66BFBF 1px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  text-decoration: none;
}

.ptouch{
  margin-top: 30px;
}

.ptext{
  width: 20%;
  margin: 0 auto 0 auto;
}
